.content {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content > * {
  margin: 0 5px;
  min-width: 330px;
  flex-grow: 1;
  flex-shrink: 1;
}

.stripes-row {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}

.stripes-row > * {
  flex-grow: 1;
  flex-shrink: 1;
  height: 100px;
  margin: 0 5px;
  border: 1px solid black;
}

