.stripes {
    border: 1px solid #2D4B3E;
    display: flex;
    height: 400px;
}

.stripe {
    flex-grow: 1;
    min-width: 1px;
}

.stripe:nth-child(even) {
    background: #C0C0C0;
}

.stripe:nth-last-child(2) {
    background: #FF6347;
}

